h2 An ajax loaded
hr
p 
  span.inline-code url = "<% this.url %>"
p This template has been fetched from the server. 
p It's been cached inside the route as the template, so that next time it won't need to perform an other ajax call.
