doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Z-Router
    link(rel="stylesheet", type="text/css", href="css/style.css")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

  body

    header
      a(href="http://labo.caradeuc.info/", class="back") &lt; labo
      .wrapper
        h1 Z-Router
          span.arrow.left
          span.arrow.top
          span.arrow.right
          span.arrow.bottom

    section
      .wrapper
        h2 What is Z-router ?
        p Z-router is a light javascript router based on the hash <span class="inline-code">#</span> part of the url allowing you to display inline or ajax-fetched templates.
        p No dependencies are required, It is very simple to use and is very flexible with the possibility to add parameters into the url and use it in the template.

        .grid
          .grid-2.center
            .box
              a(href="http://github.com/benavern/z-router", data-ztooltips="View this project on Github").btn.z-tooltips-top
                span.entypo-github
                | &nbsp; github

          .grid-2.center
            .box
              a(href="download", data-ztooltips="Download the js script").btn
                span.entypo-download
                | &nbsp; download

    section
      .wrapper
      
        h2 Demo :
        
        p Here are some routes examples, click on them and see the magic in the browser window just below.
        
        p
          a.btn(href="#/") /
          a.btn(href="#/user") /user
          a.btn(href="#/user/42") /user/42
          a.btn(href="#/fetched") /fetched
        
        .browser-window
          .address-bar
          .round.red
          .round.yellow
          .round.green
            
          #z-router-view

    section
      .wrapper
        h2 More :
        p I developed this for me and wanted to share it with you because I think it can be usefull.
        p I don't guarantee that it is perfect but I tried to do my best.
        p Contributions, forks, pull requests, comments... are welcome!


    footer
      .wrapper
        .grid
          .grid-2
            .box.center
              p
                | Made with
                span(data-ztooltips="LOVE").big &nbsp;
                  span.pink.entypo-heart &nbsp;
                | by
                a(href="http://caradeuc.info") Benjamin Caradeuc

              p
                a(href="mailto:benjamin@caradeuc.info", data-ztooltips="benjamin@caradeuc.info").btn
                  span.entypo-mail &nbsp;
                  | contact me


          .grid-2
            .box.center
              p Share my work !
              a(data-ztooltips="Share via facebook", href="http://www.facebook.com/sharer.php?u=http://labo.caradeuc.info/z-router/").social-btn.facebook
                span.entypo-facebook
              a(data-ztooltips="Share via twitter", href="https://twitter.com/share?url=http://labo.caradeuc.info/z-router/&via=benavern").social-btn.twitter
                span.entypo-twitter






    script(src="js/main.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js")
      
